<!-- <div class="d-flex flex-column bd-highlight mb-3 " >
    <div class="mb-3" style="border: 2px solid red; width: 300px;" *ngFor="let x of dishes">
        <h5>{{x.name}}</h5>
        <p>{{x.description}}</p>
        <span>{{x.price}}</span>
        <img src="" alt="">
    </div>
  </div> -->
<div class="menu">
    <div class="card" style="width: 18rem;" *ngFor="let x of dishes">
        <img src="{{x.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{x.name}}</h5>
            <p class="card-text">{{x.description}}</p>
            <h6>{{x.price}}</h6>
            <a href="#" class="btn btn-primary" (click) = "onselect(x)">Select</a>
        </div>
    </div>
</div>
<app-dishdetail [dish] = "selecteddish"></app-dishdetail>
